*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
#canvas {
    /* background: green; */
    display: block;
}
body {
    overflow: hidden;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.actions {
    position: fixed;
    padding: 20px;
    left: 10px;
    top: 0;
}
.actions svg{
    width: 1.5em;
    height: 1.5em;
    transition: all 0.5s;
    margin:0 10px;
}
.actions svg:hover{
    cursor: pointer;
}
/* .actions>#brush {
    display: none;
}

.actions.x>#brush {
    display: inline-block;
    
}

.actions.x>#eraser {
    display: none;
} */
.actions svg.active{
    fill:red;
    transform: scale(1.2);
    transition: all 0.5s;
}
.actions .colors{
    position: fixed;
    top: 60px;
    left: 38px;
    /* border:1px red solid; */
}
.colors li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
    transition: 0.3;
}
.colors .red{
    background: red;
}
.colors .green{
    background: green;
}
.colors .blue{
    background: blue;
}
.colors>.active{
    transform: scale(1.2);
}
.actions .sizes{
    position: fixed;
    right:50px;
    top: 10px;
}
.actions .sizes li{
    margin:20px 0;
    /* border: 3px solid red; */
}
.actions .sizes .thin{
    height: 0;
    width: 30px;
    border-top: 3px solid black;
}
.actions .sizes .thick{
    height: 0;
    width: 30px;
    border-top: 6px solid black;
}